{% extends 'base.html.twig' %}

{% block main %}
    {{ parent() }}
    <hr />
    <div id="redux-content"> Here we put redux tutorial </div>
    <hr />
    <div id="react-content"> Here we put react tutorial </div>
{% endblock %}
