# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     172.16.238.10
    database_port:     ~
    database_name:     music-diff
    database_user:     root
    database_password: root
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # For Webpack dev server to reload assets in runtime.
    assets_base_url: "http://localhost:8081"

    # Music Brainz data provider
    music_brainz.application: MusicDiff
    music_brainz.version: 0.1
    music_brainz.contact_info: example@example.com
